<div id="area">
		<div id="cube">
			<div class="side front2"></div>
			<div class="side front"><%= image_tag 'face6.png' %></div>
			<div class="side back2"></div>
			<div class="side back"><%= image_tag 'face3.png' %></div>
			<div class="side bottom2"></div>
			<div class="side bottom"><%= image_tag 'face5.png' %></div>
			<div class="side top2"></div>
			<div class="side top"><%= image_tag 'face2.png' %></div>
			<div class="side right2"></div>
			<div class="side right"><%= image_tag 'face4.png' %></div>
			<div class="side left2"></div>
			<div class="side left"><%= image_tag 'face1.png' %></div>
            <div class="corners left">
			    <div class="cornerwrapper ftl"><div class="corner"></div></div>
			    <div class="cornerwrapper btr"><div class="corner"></div></div>
			    <div class="cornerwrapper fbl"><div class="corner"></div></div>
			    <div class="cornerwrapper bbr"><div class="corner"></div></div>
            </div>
            <div class="corners right">
			    <div class="cornerwrapper ftl"><div class="corner"></div></div>
			    <div class="cornerwrapper btr"><div class="corner"></div></div>
			    <div class="cornerwrapper fbl"><div class="corner"></div></div>
			    <div class="cornerwrapper bbr"><div class="corner"></div></div>
            </div>
		</div>
    </div>
    
