<%= link_to image_tag('logo.png'), root_path, :class => 'brand' %>
<ul class="nav pull-right" style="position:relative; top:10px">
  <% if user_signed_in? %>
    <li>
      <%= link_to "sign out", signout_path %>
    </li>
    <li>
      <a href="#"><%= current_user.name %> <%= image_tag(current_user.avatar_url, :style => 'width:16px;height:16px') %></a>
    </li>
  <% else %>
    <li>
      <%= link_to image_tag('sign-in-with-twitter-d.png'), signin_path %>  
    </li>
  <% end %>
</ul>
