<%= link_to "Fakesnladders", root_path, :class => 'brand' %>
<ul class="nav">
  <% if user_signed_in? %>
    <li>
    Logged in as <%= image_tag current_user.avatar_url %> <%= current_user.name %>
    </li>
    <li>
    <%= link_to 'Logout', signout_path %>        
    </li>
  <% else %>
    <li>
    <%= link_to 'Login', signin_path %>  
    </li>
  <% end %>
</ul>